* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    background-color: rgb(0, 123, 164);
    padding: 20px;
    text-align: center;
    height: 200px;
    width: 200px;
}
