
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: lightblue;
}
.logo a{
    align-text: left;
    text-decoration: none;
    color: black;
}
.navigation{
    display: flex;
    
}
.navigation ul{
    display: flex;
}
